@import "settings";
@import "foundation";

$primary-font: 'Cabin', sans-serif;
$secondary-font: 'Old Standard TT', serif;

body {
	
	background-image: url(../images/background-3.jpg); 
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	
	nav {
		
		text-align: center;
	
		ul {
			
			font-family: $primary-font;
			list-style-type: none;
			font-size: 20px;
			color: white;
			
			li {
				
				display: inline-block;
				padding: 20px;
				
			}
			
		}
		
	}
		
	header {
			
			text-align: center;
			margin: auto;
			margin-top: 150px;
			width: 38%;
			
			h1, p {
				
				font-family: $secondary-font;
				color: white;
				
			}
			
			p {
				
				text-transform: uppercase;
				margin: 0px;
				
			}
			
			div {
				
				border-top: 2px solid white;
				border-bottom: 2px solid white;
				
			}
						
	}
		
}
// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
